*~
*.swp
.*
emacs/emacs.d/bookmarks
emacs/emacs.d/elpa/archives/marmalade/archive-contents
emacs/emacs.d/url/cookies
tmux/tmux/plugins/
tmux/tmux/resurrect/

vim/vim/autoload/plug*
vim/vim/plugged
vim/vim/sessions
vim/vim/spell/*.spl
