*~
*.swp
.*
emacs/emacs.d/bookmarks
emacs/emacs.d/elpa/archives/marmalade/archive-contents
emacs/emacs.d/url/cookies
tmux/tmux/plugins/
tmux/tmux/resurrect/
**/vim/autoload/plug*
**/vim/plugged
**/vim/sessions
**/vim/spell/*.spl
